<a href="https://colab.research.google.com/github/donhaklee/python/blob/main/Day07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 리스트 함수
# 1.append(value) : 리스트의 마지막 요소에 value를 추가 한다.
list_1 = []
list_1.append(1)
list_1.append('a')
list_1.append(['b'])
print(list_1)#[1, 'a', ['b']]

In [ ]:
# 2. extend(iterable) : 리스트의 마지막 요소에 iterable의 요소들을 추가 한다.
list_1 = []
list_1.extend('abcd')
list_1.extend([1, 2, 3])
print(list_1) #['a', 'b', 'c', 'd', 1, 2, 3]

In [ ]:
# 3. insert(index, value) : 리스트의 index 위치에 value를 추가 한다.
list_1 = [1, 2, 3]
list_1.insert(1, 'a')
list_1.insert(2, 'b')
list_1.insert(4, ['c', 'd'])
print(list_1) #[1, 'a', 'b', 2, ['c', 'd'], 3]

In [ ]:
# 4. pop([index]) : 리스트의 마지막 요소 값을 반환 후 삭제
# index 값이 주어지는 경우 index 위치의 값을 반환 후 삭제
list_1 = ['a', 'b', 'c', 'd']
a = list_1.pop()
b = list_1.pop(1)
print(list_1) #['a', 'c'] b
print(a)
print(b)
print(list_1, a, b) #['a', 'c'] b

In [ ]:
# 5. remove(value) : 리스트의 요소 중 value에 해당하는 요소 삭제
list_1 = ['a', 'b', 'c', (1, 2), 'd']
list_1.remove('b')
list_1.remove((1, 2))
print(list_1) #['a', 'c', 'd']

In [ ]:
# 6. list copy functions
list_1 = ['a','b','c',(1,2),'d']
list_2 = list_1
print(list_1 is list_2) # True 할당개념
print(list_1,list_2)
 
list_2 = list_1.copy()
print(list_1 is list_2) # False 복사개념

In [ ]:
# 7. list del functions
list_1 = ['a','b','c',(1,2),'d']
list_2 = list_1.copy()
print(f'Original : {list_2}')
del list_2[0]
print(f'After delete : {list_2}')

In [ ]:
# 8. clear() : 리스트의 모든 요소 삭제
list_1 = [1, 2, 3]
list_1.clear()
print(list_1) # []

In [ ]:
# 9. count(value) : 리스트의 요소 중 value에 해당하는 요소 갯수 반환
list_1 = [1, 2, 3, 1, 2, 1]
print(list_1.count(1)) # 3

In [ ]:
# 10. index(value[, start_index]) : 리스트의 요소 중 value에 해당하는 요소의 index 반환, 
# start_index를 지정하면 start_index 부터 찾는다.
list_1 = [1, 2, 3, 1, 2, 1]
print(list_1.index(1)) # 0
print(list_1.index(1, 1)) # 3

In [ ]:
# 11. reverse() : 반전, 리스트 요소의 순서를 거꾸로 뒤집는다.
list_1 = ['a', 'b', 'c', 'd']
list_1.reverse()
print(list_1) # ['d', 'c', 'b', 'a']

['d', 'c', 'b', 'a']

In [ ]:
# 12. sort([reverse=True]) : 정렬, 리스트의 요소를 오름차순으로 정렬 한다. 
# reverse=True를 사용하면 내림차순으로 정렬 한다. 
# 정렬 할 때 문자열/정수, 문자열/실수 간의 정렬은 안된다.
list_1 = ['g', 't', 'u', 'c']
list_1.sort()
print(list_1)#['c', 'g', 't', 'u']
list_1.sort(reverse=True)
print(list_1)#['u', 't', 'g', 'c']

['c', 'g', 't', 'u']
['u', 't', 'g', 'c']

In [ ]:
# 13. len 함수 : 리스트의 원소 갯수 알아내기
# 리스트를 매개 변수로 받아서 리스트의 원소 개수를 반환
# len()는 아무 집합이나 시퀀스를 받아 원소의 개수를 반환
 
string = 'God is love'
print(len(string)) # 11
 
list_1 = ['God', 'is', 'love']
print(len(list_1)) # 3
 
list_1 = ['God is love']
print(len(list_1)) # 1

In [ ]:
# 14. range 함수 : 인덱스 생성하기
# range() 함수는 0 부터 ~ 매개변수-1값 까지의 숫자리스트를 반환합니다.
print(range(4))
friends = ['Joseph','Glenn','Sally']
print(len(friends))
print(range(len(friends)))

In [ ]:
# 15. for문 , len 함수와 함께 인덱스 루프로 자주 사용됩니다.
friends = ['Joseph','Glenn','Sally']
# for friend in friends :
#     print('Happy new year:', friend)
for i in range(len(friends)):
    friend = friends[i]
    print('Happy new year:',friend)

Happy new year: Joseph
Happy new year: Glenn
Happy new year: Sally

In [ ]:
# 16. ”+” : 리스트 연결하기
# 기존에 존재하는 두 리스트를 더하여 새로운 리스트를 생성할 때 사용합니다. 
# 마치 줄을 잇는 것 처럼 연결해줍니다.
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = list_1 + list_2
print(list_3) #[1, 2, 3, 4, 5, 6]
print(list_1) #[1, 2, 3]

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [ ]:
# 17. ”:” : 리스트 자르기
# range함수와 마찬가지로 괄호 안의 두번째 숫자 -1 까지만 포함합니다.
# : 앞과 뒤가 공백일때는 처음부터 끝까지 포함합니다.
list_1 = [9,41,12,3,74,15]
print(list_1[1:3]) #[41, 12]
print(list_1[:4]) # [9, 41, 12, 3]
print(list_1[3:]) # [3, 74, 15]
print(list_1[:]) # [9, 41, 12, 3, 74, 15]

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]
[9, 41, 12, 3, 74, 15]

In [ ]:
# 18. 리스트 메서드 활용하기
list_1 = []
print(type(list_1))
print(dir(list_1))

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# 19. in , not in : 리스트 원소 탐색
# 파이썬에서는 특정원소가 리스트에 있는지 확인할 수 있는 2가지 연산자를 제공합니다.
# True, False를 반환하는 논리연산자입니다.
 
list_1 = [1,9,21,10,16]
print(9 in list_1) #True
print(15 in list_1) # False
print(20 not in list_1) #True

True
False
True

In [ ]:
# 20. 기타 내장함수
# 리스트를 매개변수로 받는 내장함수는 여러가지 있습니다.
list_1 = [1, 2, 3, 4, 5]
print(f'The sum of numbers within list_1 is {sum(list_1)}.')
print(f'The max of numbers within list_1 is {max(list_1)}.')
print(f'The min of numbers within list_1 is {min(list_1)}.')
print(f'The average of numbers within list_1 is {sum(list_1)//len(list_1)}.')

In [ ]:
# 21. 리스트내의 숫자의 합계를 sum 함수 없이 구할때, total, cnt 변수 생성
# 리스트내의 숫자의 길이값을 iterable로 사용
list_1 = [1, 2, 3, 4, 5]
total = 0
for cnt in range(len(list_1)):
    total = total + list_1[cnt]
print(f'The sum of numbers within list_1 is {total}.')
 
# The sum of numbers within list_1 is 15.
# The max of numbers within list_1 is 5.
# The min of numbers within list_1 is 1.
# The average of numbers within list_1 is 3.

In [ ]:
# 22. 리스트 함축식 (Comprehension)
list_1 = [x for x in range(10)]
list_2 = [x for x in range(10) if x > 5]
print(list_1)
print(list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[6, 7, 8, 9]

In [ ]:
# 23. 리스트 함축식
list_1 = [chr(x) for x in range(97, 123)]
print(list_1)

# list to string
list_1=''.join(list_1)
print(list_1)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
abcdefghijklmnopqrstuvwxyz

In [ ]:
# 연습문제
# 코드 작성 시나리오 1
# 1. False 일때 까지 반복하는 루프문 생성(while)
# 2. 숫자 입력 받기
# 3. done 을 입력받으면 반복문 끝내기
# 4. 입력받은 숫자는 문자열이니까 float형태로 변환하기
# 5. 입력받은 숫자들의 합계를 total에 저장하기
# 6. 입력받은 숫자들의 개수를 count에 저장하기
# 7. 합계/개수 를 average에 저장하기
# 8. average 값 출력하기

#변수 초기화
total,count = 0,0
 
#while 무한 루프
while True:
    num1 = input('Enter a number: ')
    if num1 == 'done': 
        break
    value = float(num1)
    total = total + value
    count = count +1
average = total/count
print('Average:', average)

In [ ]:
# 코드 작성 시나리오 2
# 1. 입력된 숫자를 보관할 리스트 생성
# 2. False일 때까지 반복하는 반복문 생성
# 3. 숫자 입력 받기
# 4.‘done’을 입력받으면 반복문 끝내기
# 5. 입력받은 문자열을 float으로 변환
# 6. 리스트에 입력값 추가
# 7. (리스트 합계) / (리스트의 원소갯수)로 평균구하기
# 8. average값 출력하기

numlist = list()
while True:
    num1 = input('Enter a number:')
    if num1 == 'done' : break
    value = float(num1)
    numlist.append(value)
 
average = sum(numlist)/len(numlist)
print('Average:', average)

In [ ]:
# [1, 3, 11, 15, 23, 28, 37, 52, 85, 100] 와 같은 리스트 객체가 주어졌을 때 
# 짝수만 항목으로 가지는 리스트 객체를 생성하는 코드를 작성하십시오.
list_1 = [1, 3, 11, 15, 23, 28, 37, 52, 85, 100] 
result = [x for x in list_1 if not x % 2]
print(result)

[28, 52, 100]

In [ ]:
# 단어를 10개를 입력받아 리스트에 담고 그 단어들을 사전순으로 정렬해 
# 출력하는 프로그램을 작성하십시오..
cnt = 0
t_list = []
while cnt < 11:
    a = input('Enter the word: ')
    t_list.append(a)
    cnt += 1
    t_list.sort()
print(t_list)

In [ ]:
# 다음 문장을 공백이 제거된 리스트로 생성하여 출력하세요.
# sentence = 'The world that we are in, more and more to be sick.'
sentence = 'The world that we are in, more and more to be sick.'
 
sentence = list(sentence)
for x in sentence:
    if x == chr(32):
        sentence.remove(x)
sentence=''.join(sentence)
print(sentence)

In [ ]:
# Tuple(튜플) 자료형
# 1. 튜플과 리스트
# 여러 자료형을 집합 형태로 담아서 관리 할 수 있게 만들어 준다.
# 튜플은 리스트와 비슷한 기능을 하는 시퀀스 임
# 0부터 시작하는 인덱스에 항목을 저장
# 리스트와 튜플의 차이점
# 소괄호를 사용함
# 튜플은 저장된 내용을 변경할 수 없음

# 2. 튜플의 장점
# 그럼 언제 튜플을 사용하는게 좋을까? 튜플을 사용하기 좋을때는 임시로 변수를 사용할때! 
# 리스트는 조금 더 복잡한 일을 할때 사용!
# 튜플을 수정 가능하지 않게 저장하기 때문에 리스트와 비교하여 메모리 사용량과 성능측면에서 
# 훨씬 단순하고 효과적
# 임시변수를 선언할 때는 리스트보다는 튜플을 쓰는 것이 좋음
# 3. 튜플 선언
# 튜플은 좌변에 놓는 것으로 선언한다.
# 괄호는 생략이 가능함.
# 소괄호를 사용하여 소괄호 안에 자료(요소)를 담는다.
# 각각의 자료(요소)를 구분하기 위해 ,(쉼표)를 사용 한다.
# 리스트, 사전, 문자열 자료형에 대해 튜플 자료형으로 변경 할 수 있다.
# 튜플 자료형을 생성할 때 소괄호를 생략하면서 생성할 수 있다.(Packing)
# 튜플의 요소를 하나만 생성하는 경우 반드시 마지막에 ,(쉼표)를 사용해야 한다.
# 4. 튜플 특징
#   1. Sequence Type : 초기에 생성된 데이터의 순서를 유지하고
#                      순서 번호(Index Number)에 의해 접근 가능
#   2. Iterable Type : 반복 가능 자료형으로 for 반복문에 의해 사용
#                      할 수 있는 자료형
#   3. Immutation Type : 변경 불가능, 튜플 자료의 요소를 추가/수정/삭제
#                        할 수 없다.
# 5. Indexing(인덱싱)
#   - Index 번호를 통해서 특정 요소에 접근 하기 위한 방법
#   - Index 번호는 0번 부터 시작 한다.
#   - Index 번호는 음수 값으로도 사용 가능하다.(역순으로 접근)
#   - [] 대괄호 안에 Index 번호를 넣어서 접근 한다.
 
# 6. Slicing(슬라이싱)
#   - Index 번호를 통해서 특정 요소들에 접근 하기 위한 방법
#   - Index 번호는 시작 번호, 끝 번호 형태로 사용해야 한다.
#   - 끝 번호는 항상 -1 요소 까지 접근 한다.
#   - [시작번호:끝번호] 대괄호 안에 Index 번호를 넣어서 접근 한다.
 
#   - 시작번호는 생략 할 수 있으며, 생략하는 경우 0번으로 쓰인다.
#   - 끝번호는 생략 할 수 있으며, 생략하는 경우 가장 마지막 요소
#     까지 접근 한다.
#   - 음수 값으로도 접근 가능하다.
#   - [시작번호:끝번호:step] step 값 만큼 건너 띄어서 접근 가능

In [ ]:
# tuple은 immutable이다.
tuple_1 = ('God','is','love')
print(f'tuple_1[0] ==> {tuple_1[0]}')

tuple_1[0] = 'Jesus' # 변경할 수 없음

print(f'tuple_1 ==> {tuple_1}')
print(f'len(tuple_1) ==> {len(tuple_1)}')

In [ ]:
# 빈 tuple 생성과 자료형 확인하기
tuple_1 = ()
print(tuple_1,type(tuple_1)) # <class 'tuple'>

In [ ]:
# 요소가 있는 tuple 생성 및 자료형 확인하기
tuple_1 = (1,2,3,4) 
print(type(tuple_1)) # <class 'tuple'>
print(tuple_1) # (1, 2, 3, 4)

<class 'tuple'>
(1, 2, 3, 4)

In [ ]:
# list자료형을 tuple 자료형으로 변환하기
tuple_1 = tuple([1,2,3,4])
print(type(tuple_1)) # <class 'tuple'>
print(tuple_1) # (1, 2, 3, 4)

In [ ]:
# slicing
tuple_1 = (1, 2, 3, 4, 5, 6, 7)
print(tuple_1[0],tuple_1[-1]) # 1,  7
print(tuple_1[0:3]) # (1, 2, 3)
print(tuple_1[:3]) # (1, 2, 3)
print(tuple_1[3:]) # (4, 5, 6, 7)
print(tuple_1[3:-1]) # (4, 5, 6)
print(tuple_1[-1]) # 7
print(tuple_1[-2]) # 6
print(tuple_1[-3:]) # (5, 6, 7)
print(tuple_1[:-3]) # (1, 2, 3, 4)

In [ ]:
# tuple의 Unpacking
tuple_1 = (1, 2, 3)
tuple_1_1,tuple_1_2,tuple_1_3 = tuple_1
print(tuple_1_1,tuple_1_2,tuple_1_3) # 1 2 3

In [ ]:
# tuple의 Unpacking
tuple1,tuple2 = input('Enter three values : ').split()[0:2]
print(f'tuple1 is {tuple1} and tuple2 is {tuple2}')

In [ ]:
# 2차 tuple
tuple_1 = ((1, 2, 3), (4, 5, 6),(7, 8, 9))
print(tuple_1[0]);print(tuple_1[1]);print(tuple_1[2])
print(tuple_1[0][0]);print(tuple_1[1][1]);print(tuple_1[2][2])

In [ ]:
# tuple 함수 사용하기
# 1. tuple count(value) functions
tuple_1 = (1,2,3,1,2,1)
print(tuple_1.count(1)) # 1의 요소가 3개 있다.

In [ ]:
# 2. tuple index(start index,value) functions
tuple_1 = (1,2,3,1,2,1)
print(tuple_1.index(1)) # 0
print(tuple_1.index(1,1)) # 3

In [ ]:
# 3. tuple length functions
tuple_1 = ('c','d','a','e','b')
print(len(tuple_1)) # 5

In [ ]:
# 4. tuple concatenate
tuple_1 = (1,2,3)
tuple_2 = (4,5,6)
tuple_3 = tuple_1 + tuple_2
print(tuple_3) # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
# 5. tuple methods
tuple_1 = ()
print(dir(tuple_1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
# tuple 내장 함수 이용하기
tuple_1 = (1, 2, 3, 4, 5)
print(f'The sum of numbers within tuple_1 is {sum(tuple_1)}.')
print(f'The max of numbers within tuple_1 is {max(tuple_1)}.')
print(f'The min of numbers within tuple_1 is {min(tuple_1)}.')
print(f'The average of numbers within tuple_1 is {sum(tuple_1)//len(tuple_1)}.')

In [ ]:
# 1. 튜플 함수의 count 함수와 동일한 기능을 수행할 수 있는 코드를 작성 하시오.
# count 함수를 사용하지 않고도 튜플 자료의 요소 수를 카운트하는 코드를 작성 하시오.
 
tuple_1 = (1, 2, 3, 4, 1, 2, 3, 1, 2, 1)
value = int(input('Enter the value that you want counting: '))
cnt = 0
 
for x in tuple_1:
  if x == value:
    cnt = cnt + 1
else:
  print(cnt)

In [ ]:
# 2. 사용자로 부터, 찾을 문자열과 인덱스 시작 번호를 받아서, index의 위치 값을 출력하세요. 
# index 함수를 사용하지 않고도 튜플 자료의 index 번호를 알아낼수 있는 코드를  작성 하시오. 
# 단, tuple_1 = ('g','o','d','i','s','l','o','v','e') 사용하세요
 
tuple_1 = ('godislove')
target,s_idx = input("The target char? The index number? ").split()

s_idx = int(s_idx)
for x in tuple_1[s_idx:]:
  if x == target:
    print(s_idx)
  s_idx += 1

In [ ]:
# 3. index 함수는 오직 하나의 index 번호만을 알아낼수 있는 함수이다.
# 원하는 value가  한 리스트 내에 여러개 있을때 이를 모두 구하고 싶다. 코드하세요.
# 단, tuple_1 = (1, 3, 4, 3, 6, 7,1, 3, 4, 3, 6, 7) 사용하세요.
 
tuple_1 = (1, 3, 4, 3, 6, 7, 1, 3, 4, 3, 6, 7)
num = int(input('Enter the value that you want index poison: '))
idx_posion = [i for i, value in enumerate(tuple_1) if value == num]
print(f'New indices list : {idx_posion}')
# New indices list : [1, 3, 7, 9]

Enter the value that you want index poison: 1
New indices list : [0, 6]

In [ ]:
# item tuple를 이용하여 다음 아래와 같은 형태로 출력될 수 있도록 코드를 완성하세요.
#           SXXS Menu
# ==============================
# Menu      tall   grande venti
# ==============================
# Coldblue  5000   5500   6000
# Americano 4100   4600   5100
# Cafelatte 4600   5100   5600
 
item = (
    ('Menu', 'tall', 'grande', 'venti'),
    ('Coldblue', 5000, 5500, 6000),
    ('Americano', 4100, 4600, 5100),
    ('Cafelatte', 4600, 5100, 5600),
)
 
 
store_name = 'SXXS Menu'
print(store_name.center(30))
print('=' * 30)
for idx in range((len(item))):
  if idx == 1:
    print('=' * 30)
  print('{:<10}{:<7}{:<7}{:<7}'.format(*item[idx]))

          SXXS Menu
==============================
Menu      tall   grande venti
==============================
Coldblue  5000   5500   6000
Americano 4100   4600   5100
Cafelatte 4600   5100   5600