<a href="https://colab.research.google.com/github/donhaklee/python/blob/main/Day08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dictionary(사전) 자료형
 
# 특징
# Mapping Type : Sequence Type과 다르게 Index를 사용하지 않고
# Key를 Index 처럼 사용 한다.
# Iterable Type : 반복 가능 자료형으로 for 반복문에 의해 사용 할 수 있는 자료형
# Mutation Type : 변경 가능, 사전 자료의 요소를 추가/수정/삭제 할 수 있다.
# 딕셔너리는 다른 언어의 해시 테이블( hash table ) 또는 맵( map )과 같습니다.
# 딕셔너리의 각 원소는 key와 value를 하나의 쌍으로 하여 형성됩니다.
 
# 생성 방법(Syntax)
# {} 중괄호를 사용하여 생성 한다.
# d = {}  # 빈 사전형
# 항상 Key와 Value의 쌍으로 생성해야 한다.
# Key로 사용 할 수 있는 자료형은 정수, 실수, 문자열, 튜플 이다.
# Key는 중복이 될 수 없다. 하나의 Key만 사용 가능
# Value로 사용 할 수 있는 자료형은 모든 자료형 이다.
# {Key:value, ...}
# d = {'name':'Python', 'version':3.6}

In [ ]:
# 사전형 자료에 접근하는 방법
# 1. 딕셔너리를 생성하는 여러가지 방법
fruit = {'apple': 100, 'banana': 50}
print(type(fruit))          # <class 'dict'>

<class 'dict'>

In [ ]:
d = dict(apple=100, banana=50)
print(d, type(d))           # {'apple': 100, 'banana': 50} <class 'dict'>

{'apple': 100, 'banana': 50} <class 'dict'>

In [ ]:
# dict() 함수의 인자로 리스트, 튜플을 원소로 갖는 리스트를 전달
d2 = dict([['apple', 100], ['banana', 50]])
print(d2, type(d2))

d2 = dict([('apple', 100), ('banana', 50)])
print(d2, type(d2))

d2 = dict((('apple', 100), ('banana', 50)))
print(d2, type(d2))

d2 = dict((['apple', 100], ['banana', 50]))
print(d2, type(d2))

In [ ]:
# zip() 함수
keys = {'apple','banana'}
values = {100, 50}
d3 = dict(zip(keys, values))
print(d3, type(d3))

{'apple': 50, 'banana': 100} <class 'dict'>

In [ ]:
# 요소 추가 및 value 조회
fruit = {'apple': 100, 'banana': 50}
fruit['peach'] = 60
fruit['tomato'] = 80
print(fruit) # {'tomato': 80, 'apple': 100, 'peach': 60, 'banana': 50}
print(fruit['apple'])   # 100

{'apple': 100, 'banana': 50, 'peach': 60, 'tomato': 80}
100

In [ ]:
# 딕셔너리는 + 연산을 지원하지 않습니다.
# 즉 + 연산으로 요소를 추가할 수 없습니다.
fruit1 = {'apple': 100, 'banana': 50}
fruit2 = {'peach': 100, 'kiwi': 50}
fruit3 = fruit1 + fruit2
# unsupported operand type(s) for +: 'dict' and 'dict'
print(fruit3)

In [ ]:
# 딕셔너리는 mutable 합니다.
fruit = {'apple': 100, 'banana': 50}
fruit['apple'] = 80
print(fruit)        # {'apple': 80, 'banana': 50}

{'apple': 80, 'banana': 50}

In [ ]:
# 함수 및 메서드
fruit = {'apple': 100, 'banana': 50}

# keys()
keys = fruit.keys()
print(keys, type(keys))

# values()
values = fruit.values()
print(values, type(values))

# items()
items = fruit.items()  # key, value 쌍을 튜플로 만들고, 튜플을 원소로 갖는 리스트가 반환된다.
print(items, type(items))

# get()
price = fruit.get('apple')
print(price)              # 80
print(fruit.get('melon')) # None  => 없는 key를 get() 할 경우 예외가 발생하지 않는다.

# Exception has occurred: KeyError  발생
# print(fruit['melon'])

In [ ]:
# pop()
fruit = {'apple': 100, 'banana': 50}
value = fruit.pop('banana')
print(value)                    # 50
print(fruit)                    # {'apple': 80, 'peach': 60, 'tomato': 80}

In [ ]:
# popitem()
fruit = {'apple': 100, 'banana': 50}
item = fruit.popitem()          # 마지막 원소를 튜플로 가져오기
print(item)                     # ('tomato', 80)
print(fruit)                    # {'apple': 80, 'peach': 60}

In [ ]:
# update(dict) : 사전형 자료에 key:value를 추가/수정
# 동일한 key 가 없으면, 추가
# 동일한 key 가 있으면, 수정
fruit = {'apple': 100, 'banana': 50,'peach':60,'tomato':80}
fruit.update({'apple':90}) # apple키의 값을 90 을 업뎃
fruit.update({'kiwi':50}) # kiwi:50 원소 추가
print(fruit.items())

In [ ]:
# clear() : 사전형의 모든 요소를 삭제
fruit = {'apple': 100, 'banana': 50,'peach':60,'tomato':80}
fruit.clear()
print(fruit.items())

In [ ]:
# fromkeys(iterable[, value]) : iterable의 요소를 사용하여 key를 생성하는 함수
# 옵션으로 value를 사용하면 기본값 생성을 한다.
list_1 = ['apple', 'banana', 'peach', 'tomato']
dic_1 = dict.fromkeys(list_1, 1000)
print(dic_1)

In [ ]:
# del
dic_1 = {'apple':1000, 'banana':2000}
del dic_1['apple']
print(dic_1)

In [ ]:
# 활용법
#사전과 리스트를 이용한 사용
dl={'음료':['탄산','과일','우유','물'],
    '식사':['김밥','라면','돈까스','비빔밥']}
for x in dl:    #'key'값에 대한 Value(list)값 설정
  print(dl[x])

In [ ]:
#리스트와 사전을 이용한 방식
ld = [{'name':'park', 'age':25, 'blood':'B'},
      {'name':'Kim','age':27,'blood':'A' }]
for dic in ld:    #indexing값에 대한 Value(dict)값 설정
    print(dic['name'], dic['age'],dic['blood'])

In [ ]:
#사전에 사전을 이용한 방식
dd = {'park':{'age':25,'blood':'B'},
      'Kim':{'age':37,'blood':'A'}}
for name in dd:   #'key'값에 대한 Value(dict)값 설정
    print(name,dd[name]['age'],dd[name]['blood'])

In [ ]:
#unpacking
fruit = {'apple': 100, 'banana': 50,'peach':60,'tomato':80}
for k, v in fruit.items(): #unpacking
   print(f'{k}:{v}')

In [ ]:
# fruit 딕셔너리에서 하나의 요소를 추출하면 기본값이 key이다.
fruit = {'apple': 100, 'banana': 50,'peach':60,'tomato':80}
for k in fruit:
# for k in fruit.keys():
    print(k)

for v in fruit.values():
    print(v)

for k,v in fruit.items():
    print(k,v)

In [ ]:
# 2차 딕셔너리에서 value값 추출하기
dic_1 = {
    'python':{'version':3.6, 'author':'user1'},
    'java':{'version':8, 'author':'user2'},
    'c++':{'version':2.5, 'author':'user3'}
}
for key1 in dic_1:
  for key2 in dic_1[key1]:
    print(dic_1[key1][key2], end='\t')
  print()

In [ ]:
# 1. 다음과 같은 메뉴와 가격을 key와 value로 사용하여
# 사전형 자료를 만들어, 오름차순으로 출력해보세요.(변수명은 menu)
 
# 칼국수(6000원), 비빕밥(5500원), 돼지국밥(7000원),
# 돈까스(7000원), 김밥(2000원), 라면(2500원) 
 
menu={'칼국수':6000,'비빕밥':5500,'돼지국밥':7000,'돈까스':7000,'김밥':2000,'라면':2500}
print(menu.items())

menu['볶음밥']=5000
print(menu)

menu['김밥']=2300
print(menu)

del menu['돼지국밥']
print(menu)

for x,y in menu.items():
    print("{}\t{:,}원".format(x,y))

In [ ]:
# 메뉴판에서 사용자가 선택한 메뉴와 가격을 출력하세요.
# {'메뉴명': 가격}
 
menu = input('Which one of  americano,  cafemocha,  cafelatte: ')

menu_board = (['americano', 3000], ['cafemocha', 3500], ['cafelatte', 3500])
 
for values in menu_board:
  if values[0] == menu:
    print(values[0],values[1],sep=' : ')

In [ ]:
# 성적표 구하기
grade = {'국어': 73, '영어': 61, '수학': 65, '사회': 82, '역사': 71, '과학': 97}
 
# 위의 성적표에서 국어, 영어, 수학 과목의 총점을 구하시오.
total = 0
subjects = ('국어', '영어', '수학')
for key in subjects:
    total +=  grade[key]
print(f'국, 영, 수 총점 : {total}점')

# 위의 성적표에서 모든 과목의 총점 및 평균을 구하시오.
total = 0
for value in grade.values():
    total += value
else:
    print('모든 과목 총점 : {}점, 평균 : {:.2f}점'.format(total, total/len(grade)))
print(sum(grade.values()))

# 성적표에서 가장 높은 점수를 받은 과목과 가장 낮은 점수를 받은 과목을 구하시오.
mx_subject, ms_subject = '', ''
mx_grade, ms_grade = 0, 100
for key in grade.keys():
    if grade[key] > mx_grade:
        mx_grade, mx_subject = grade[key], key
    if grade[key] < ms_grade:
        ms_grade, ms_subject = grade[key], key
else:
    print('가장 높은 점수 : {}({})'.format(mx_subject, mx_grade))
    print('가장 낮은 점수 : {}({})'.format(ms_subject, ms_grade))

In [ ]:
# 문자열 응용하기
# 1. 문자열 바꾸기
# replace('바꿀문자열', '새문자열')은 문자열 안의 문자열을 
# 다른 문자열로 바꿉니다(문자열 자체는 변경하지 않으며 바뀐 결과를 반환합니다). 

print("Hello, Python".replace('Python','Java'))
 
str1="Hello Python"
rstr1=str1.replace("Python","Java")
print(rstr1)

In [ ]:
# 2. 문자열 분리하기
# 이제 문자열을 분리하는 방법입니다.
# split()은 공백을 기준으로 문자열을 분리하여 리스트로 만듭니다. 
# 지금까지 input으로 문자열을 입력받은 뒤 리스트로 만든 메서드가 
# 바로 이 split입니다.
setchar='Korea Japan China Thailand Singapore Vietnam'
setchar1=setchar.split()
print(setchar1) # ['Korea', 'Japan', 'China', 'Thailand', 'Singapore', 'Vietnam']
 
setchar='Korea,Japan,China,Thailand,Singapore,Vietnam'
setchar1=setchar.split(',')
print(setchar1) # ['Korea', 'Japan', 'China', 'Thailand', 'Singapore', 'Vietnam']
 
setchar='Korea,Japan,China,Thailand,Singapore,Vietnam'
setchar1=setchar.split(',')[1:3]
print(setchar1) # Japan

In [ ]:
# 3. 구분자 문자열과 문자열 리스트 연결하기
# 문자열을 분리하여 리스트로 만들었으니 다시 연결하는 방법도 있겠죠?
# join(리스트)는 구분자 문자열과 문자열 리스트의 요소를 연결하여 문자열로 만듭니다. 다음은 공백 ' '에 join을 사용하여 각 문자열 사이에 공백이 들어가도록 만듭니다..
setchar=':'.join(['Korea','Japan','China','Thailand','Singapore','Vietnam'])
print(setchar) # Korea:Japan:China:Thailand:Singapore:Vietnam
 
setchar='-'.join(['Korea','Japan','China','Thailand','Singapore','Vietnam'])
print(setchar) # Korea-Japan-China-Thailand-Singapore-Vietnam
 
setchar='-'.join(('Korea','Japan','China','Thailand','Singapore','Vietnam'))
print(setchar) # Korea-Japan-China-Thailand-Singapore-Vietnam
 
setchar='-'.join({'Korea','Japan','China','Thailand','Singapore','Vietnam'})
print(setchar) # Japan-Singapore-Korea-Vietnam-Thailand-China

In [ ]:
# 4. 소문자를 대문자로 바꾸기
# 이번에는 문자열의 문자를 대소문자로 바꾸는 방법입니다.
# upper()는 문자열의 문자를 모두 대문자로 바꿉니다. 
# 만약 문자열 안에 대문자가 있다면 그대로 유지됩니다.

setchar='Korea,Japan,China,Thailand,Singapore,Vietnam'
setchar1=setchar.upper()
print(setchar1) #KOREA,JAPAN,CHINA,THAILAND,SINGAPORE,VIETNAM

In [ ]:
# 5. 대문자를 소문자로 바꾸기
# lower()는 문자열의 문자를 모두 소문자로 바꿉니다. 
# 만약 문자열 안에 소문자가 있다면 그대로 유지됩니다.

setchar='Korea,Japan,China,Thailand,Singapore,Vietnam'
setchar1=setchar.lower()
print(setchar1) #korea,japan,china,thailand,singapore,vietnam

In [ ]:
# 6. 왼쪽 공백 삭제하기
# 문자열을 사용하다 보면 공백을 삭제해야 할 경우가 생깁니다. 
# 이때는 lstrip, rstrip, strip 메서드를 사용합니다.
# lstrip()은 문자열에서 왼쪽에 있는 연속된 모든 공백을 
# 삭제합니다(l은 왼쪽(left)을 의미).

setchar='    Korea,Japan,China,Thailand,Singapore,Vietnam'
print(setchar.lstrip())

In [ ]:
# 7. 오른쪽 공백 삭제하기
# rstrip()은 문자열에서 오른쪽에 있는 연속된 모든 공백을 삭제합니다
# (r은 오른쪽(right)을 의미).
setchar='Korea,Japan,China,Thailand,Singapore,Vietnam    '
print(setchar.rstrip())

In [ ]:
# 8. 양쪽 공백 삭제하기
# strip()은 문자열에서 양쪽에 있는 연속된 모든 공백을 삭제합니다.
setchar='    Korea,Japan,China,Thailand,Singapore,Vietnam    '
print(setchar.strip())

In [ ]:
# 9. 특정 문자 삭제하기
# 문자열 양쪽의 특정 문자 삭제(중간 문자열은 삭제 안됨)
setchar='.Korea,Japan.China,Thailand,Singapore.Vietnam.'
print(setchar.strip('.'))

In [ ]:
# 10. 구두점을 간단하게 삭제하기
# string 모듈의 punctuation에는 모든 구두점이 들어있습니다. 
# 다음과 같이 strip 메서드에 string.punctuation을 넣으면 
# 문자열 양쪽의 모든 구두점을 간단하게 삭제할 수 있습니다.
# string모듈을 사용하여 문단 양쪽의 구두점 삭제
import string

setchar='.Korea,Japan.China,Thailand,Singapore.Vietnam.'
setchar1=setchar.strip(string.punctuation)
print(setchar1)

In [ ]:
# 11. 문자열을 왼쪽 정렬하기
# 이번에는 문자열에 공백을 넣어서 원하는 위치에 정렬하는 방법을 알아보겠습니다.
# ljust(길이)는 문자열을 지정된 길이로 만든 뒤 왼쪽으로 정렬하며 
# 남는 공간을 공백으로 채웁니다(l은 왼쪽(left)을 의미). 
# 다음은 문자열 'python'의 길이를 10으로 만든 뒤 왼쪽으로 정렬하고 
# 남는 공간을 공백 4칸으로 채웁니다.

setchar='Korea,Japan.China,Thailand,Singapore.Vietnam'
print(setchar.ljust(50))

In [ ]:
# 12. 문자열을 오른쪽 정렬하기
# rjust(길이)는 문자열을 지정된 길이로 만든 뒤 오른쪽으로 정렬하며 
# 남는 공간을 공백으로 채웁니다(r은 오른쪽(right)을 의미). 
# 다음은 문자열 'python'의 길이를 10으로 만든 뒤 오른쪽으로 정렬하고 
# 남는 공간을 공백 4칸으로 채웁니다.

setchar='Korea,Japan.China,Thailand,Singapore.Vietnam'
print(setchar.rjust(50))

In [ ]:
# 13. 문자열을 가운데 정렬하기
# center(길이)는 문자열을 지정된 길이로 만든 뒤 가운데로 정렬하며 
# 남는 공간을 공백으로 채웁니다. 
# 다음은 문자열 'python'의 길이를 10으로 만든 뒤 가운데로 정렬하고 
# 양 옆의 남는 공간을 공백 2칸씩 채웁니다.

setchar='Korea,Japan.China,Thailand,Singapore.Vietnam'
print(setchar.center(50))

In [ ]:
# 14. 문자열 위치 찾기
# 이번에는 문자열의 위치를 찾는 방법을 알아보겠습니다.
# find('찾을문자열')은 문자열에서 특정 문자열을 찾아서 
# 인덱스를 반환하고, 문자열이 없으면 -1을 반환합니다. 
# find는 왼쪽에서부터 문자열을 찾는데, 같은 문자열이 여러 개일 경우 
# 처음 찾은 문자열의 인덱스를 반환합니다. 여기서는 'pl'이 2개 있지만 왼쪽에서 
# 처음 찾은 'pl'의 인덱스 2를 반환합니다.
setchar='Korea,Japan.China,Thailand,Singapore.Vietnam'
print(setchar.find('K'))
print(setchar.find('T'))
print(setchar.find('V'))

In [ ]:
# 15. 오른쪽에서부터 문자열 위치 찾기
# rfind('찾을문자열')은 오른쪽에서부터 특정 문자열을 찾아서 인덱스를 반환하고, 
# 문자열이 없으면 -1을 반환합니다(r은 오른쪽( right)을 의미). 
# 같은 문자열이 여러 개일 경우 처음 찾은 문자열의 인덱스를 반환합니다. 
# 여기서는 'pl'이 2개 있지만 
str10 = setchar='Korea,Japan.China,Thailand,Singapore.Vietnam'
print(setchar.find('a')) #왼쪽부터 일치되는 첫번째 문자열 인덱스 번호 출력
print(setchar.index('a'))#왼쪽부터 일치되는 첫번째 문자열 인덱스 번호 출력
print(setchar.rfind('a'))#오른쪽부터 일치되는 첫번째 문자열 인덱스 번호 출력
print(setchar.rindex('a'))#오른쪽부터 일치되는 첫번째 문자열 인덱스 번호 출력

In [ ]:
# 16. 문자열 개수 세기
# count('문자열')은 현재 문자열에서 특정 문자열이 몇 번 나오는지 알아냅니다. 
# 여기서는 'pl'이 2번 나오므로 2가 반환됩니다.

setchar='Korea,Japan.China,Thailand,Singapore.Vietnam'
print(setchar.count('a')) #a의 갯수는 8개

In [ ]:
# 17. 역으로 출력하기
str2 = 'Linux is not Unix'
print(''.join(reversed(str2)))

# OR

str2 = reversed('Linux is not Unix')
str2 = (list(str2))
for i in str2:
    print(i,end='')

# OR
print()
a = reversed('hello')
a = (list(a))
for i in a:
    print(i,end='')

In [ ]:
# 18. swapcase() - 대문자는 소문자로, 소문자는 대문자로 변경
string1='Hi, I am Kwangjin and 23'
string1=string1.swapcase()
print(string1) # Hi, i am kwangjin and 23

hI, i AM kWANGJIN AND 23

In [ ]:
# 19. capitalize() - 첫 문자를 대문자로 변경
string1='Hi, I am Kwangjin and 23'
string1=string1.capitalize()
print(string1) # Hi, i am kwangjin and 23

Hi, i am kwangjin and 23

In [ ]:
# 20. title() - 각 단어의 첫 글자를 대문자로 변경

string1='Hi, I am Kwangjin and 23'
string1=string1.title()
print(string1) # Hi, I Am Kwangjin And 23

Hi, I Am Kwangjin And 23

In [ ]:
# 21. is로 시작하는 메소드(함수)의 결과는 bool(True, False)이다.

# isalnum() - 알파벳 또는 숫자인가? 
string1='ABC123'
print("isalnum:",string1.isalnum())
 
# # isalpha() - 알파벳인가?
string1='ABCabc'
print("isalpha:",string1.isalpha())
 
# # isdecimal() - 숫자(decimal, 10진수)인가?
string1='1234567'
print("isdecimal:",string1.isdecimal())
 
# # isdigit() - 숫자(digit, 10진수)인가?
string1='1234567'
print("isdigit:",string1.isdigit())
 
# # isidentifier() - 문자열이 식별자로 사용 될 수 있는지 확인
# # (Python에서 식별자(변수명, 클래스명)로 사용할 수 있다면 True)
string1='_ABC'
print("isidentifier:",string1.isidentifier())
 
# # isnumeric() - 숫자인가?
string1='1234567'
print("isnumeric:",string1.isnumeric())
 
# # isspace() - 공백인가?
string1=' '
print("isspace:",string1.isspace())
 
# # istitle() - title 형식인가? (단어마다 첫 글자가 대문자인가?)
string1='Python'
print("istitle:",string1.istitle())
 
# # isupper() - 대문자인가?
string1='ABC'
print("isupper:",string1.isupper())
 
# # islower() - 소문자인가?
string1='abc'
print("islower:",string1.islower())

In [ ]:
# 예제 1

A = "Have a"
B = " Nice Day"
C = A + B
print(C)        # Have a Nice Day
print(C * 3)      # Have a Nice Day 세번
A += " Nice Day"# A = A+ " Nice Day"와 같음
print(A)        # Have a Nice Day

In [ ]:
#[예제.2]
str = "python is Easy. Programming 참 쉽죠~~잉!!"
print(str)
print(str.upper())    # python is Easy. Programming 참 쉽죠~
print(str.lower())    # PYTHON IS EASY. PROGRAMMING 참 쉽죠~

#swapcase() 영문 소문자를 대문자로, 대문자를 소문자로 변경
print(str.swapcase()) # PYTHON IS eASY. pROGRAMMING 참 쉽죠~

#title() 단어의 시작은 대문자로 변경
print(str.title())    # Python Is Easy. Programming 참 쉽죠~

python is Easy. Programming 참 쉽죠~~잉!!
PYTHON IS EASY. PROGRAMMING 참 쉽죠~~잉!!
python is easy. programming 참 쉽죠~~잉!!
PYTHON IS eASY. pROGRAMMING 참 쉽죠~~잉!!
Python Is Easy. Programming 참 쉽죠~~잉!!